*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*------------------------------------------------- TOP INFO STYLING-------------------------------------------------------- */
.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 10px;
}

.info p{
    font-size: 18px;
    font-weight: 200;
    color: #272727;
}
/* ---------------------------------------------------NAV BAR STYLING--------------------------------------------------------- */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

nav ul {
    display: flex;
    gap: 35px;
}

nav ul a{
    text-decoration: none;
    color: #272727;
}

.nav-icons a{
    text-decoration: none;
    color: #272727;
    font-size: 16px;
    font-weight: 300;
}
/* ---------------------------------------------------CONTENT STYLING------------------------------------------------------ */

.slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.content{
    margin-left: 10%;
}

.left-arrow button, .right-arrow button{
    position: absolute;
    /* top: 50%; */
    font-size: 2em;
    font-weight: 200;
    border: none;
    cursor: pointer;
}

.left-arrow{
    margin-left: 12px;
    left: 0;
}

.right-arrow{
    margin-right: 28px;
    right: 0;
}

.content h1{
    font-size: 51px;
    font-weight: 200;
    margin-bottom: 10px;
}


.shop{
    margin-top: 12px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    padding: 22px;
    border-radius: 200px;
    background-color: #FF6543;
    color: #ffffff;
    cursor: pointer;
}

/* --------------------------------------------------------------------FEATURES------------------------------------------ */

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8em;
    margin-bottom: 52px;
}

.features-items{
    display: flex;
}

.features-items i{
    font-size: 2em;
    color: #FF6543;
}

.features-items .text h4{
    font-size: 22px;
    font-weight: 200;
}
.features-items .text p{
    font-size: 21px;
    font-weight: 200;
}

/* ---------------------------------------------------------------CATOGERIES STYLING---------------------------------- */

.categories,.best{
    padding-inline: 8rem;
}

.category-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-items,.best-item{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}
.category-list{
    margin-top: 12px;
}

.categories .title h1{
    font-size: 30px;
    font-weight: 200;
}










/* -----------------------------------------------------------------RESPONSIVE DESIGNING---------------------------------- */
@media (max-width: 760px) {
    .features{

        flex-direction: column;
        padding-block: 4em;
    }
    .features-items{
        margin-top: 20px;
    }
}