body{
  margin: 0;
  background-image: repeating-linear-gradient(135deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(45deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(45deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),repeating-linear-gradient(135deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),linear-gradient(135deg, rgb(20,20,20),rgb(20,20,20));
}
div{
  background-color: blanchedalmond;
  position: sticky;
  top: 0;
}
ul{
  list-style: none;
}
li{
  font-size: 20px;
  font-family: sans-serif;
  display: inline;
  margin: 80px;
}