body{
  margin: 0;
}

.inline-block{
  display: inline-block;
  background-color: coral;
}

.html{
  display: inline-block;
  background-color: cadetblue ;
  width: 60px;
  height: 40px;
  border: 10px solid pink ;
  margin: 20px;
}