body{
  font-family: sans-serif;
  background-color: bisque;
}
/* class selector */
.html{
  color: red;
}
/* Id selector */
#id{
  color: blue;
}

.name{
  color:chocolate;
}
.hex{
  color: #d2691e;
}
.rgb{
  color: rgb(210, 105, 30);
}
.hsl{
  color: hsl(25, 75%, 47%);
}

ul li{
  font-size: 32px;
}
ol li{
  font-size: 20px;
}

#Pseudo:hover{
  color: brown;
}

#Pseudo2:hover{
  color: blueviolet;
}