body{
  margin: 0;
}
.box{
  background-color: chartreuse;
  padding: 0.5em;
  /* box-sizing: border-box; */
  /* border: 10px solid;
   */
   width: 5em;

}

section{
  background-color: blueviolet;
  width: 50vw;
  padding: 10vw;
  margin: 10vw;
  border: 1vw solid green;
  font-size: 2em;
  /* font-size: 4vw; */
  /* box-sizing: border-box;  */
  /* font-size: 32px; */

}
h1{
  margin: 5%;
}