:root{
  font-size: 1rem;
}
body{
  margin: 0;
  font-size: 1rem;
}
.box{
  background-color: chartreuse;
  box-sizing: border-box;
  width: 5rem;
  padding: 0.5rem;
  font-size: 2rem;
}

section{
  background-color: blueviolet;
  width: 50vw;
  padding: 10vw;
  margin: 10vw;
  border: 1vw solid green;
  font-size: 2rem;
  /* font-size: 4vw; */
  /* font-size: 4vw; */
  /* box-sizing: border-box;  */
  /* font-size: 32px; */ 
}