div{
  position: relative;  
  background-color: chartreuse;
}

ul{
  background-color: rgb(108, 4, 4);
  position: relative;
  height: 300px;
  overflow: scroll;
  /* margin-top: 20px; */
}
.css-element{
  background-color: aquamarine;
  position: absolute;
  left: 5px;
  top: 56px;
  right: 5px;
  /* bottom: 5px; */
  /* inset: 5px; */
}

.js-element{
  background-color: blue;
  position: fixed;
  top: 10px;
  right: 10px;
  left: 10px;
}

.html-element{
  position: sticky;
  top: 40px;
}
