body{
  margin: 0;
}
*{
  box-sizing: border-box;
}
.parent{
  display: inline-flex;
  height: 400px;
  /* padding: 10px; */
  /* display: flex; */
  /* align-content: center; */
  justify-content: center;
  /* justify-content: space-between; */
  flex-direction: column;
  gap: 16px;
  /* align-items: center; */
  /* margin-block:32px ; */
  /* margin-inline: 200px; */
  /* flex-wrap: wrap; */
  /* gap: 10px; */
  /* align-items: center; */
  border: 4px solid indianred;
}

.parent span{
  /* flex-basis: 100px; */
  /* width: 400px; */
  /* height: 300px; */
  /* flex-shrink: 0; */
  /* border: 4px solid cadetblue; */
  background-color: cadetblue;
}

.parent p{
  /* margin: 0; */
  /* width: 500px ; */
  /* flex-basis: 100px; */
  /* border: 4px solid darkkhaki; */
  background-color: darkkhaki;
}

.parent a{
  /* flex-basis: 100px; */
  /* width: 500px; */
  /* height: 150px; */
  /* border: 4px solid yellowgreen; */
  background-color: yellowgreen;
  /* height: 150px; */
  order:-1;
}

.parent > *{
  /* width:200px; */
  margin: 0;
  /* margin: auto; */
}