*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: hsl(60, 82%, 34%);
    font-family: "Poppins", sans-serif;
    color: white;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
   

nav img{
    margin: 20px 10px;
    width: 100px;
}

.links ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    font-size: large;
    font-weight: 500;
}
li{
    padding-right: 30px;
}
button{
    padding: 10px;
    border: none;
    border-radius: 12px;
    margin-right: 20px;
    background-color: rgb(167, 6, 167);
}

button:hover{
    cursor: pointer;
}

main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.right {
    width: 50%;
    display: flex;
    align-items: center;
}

.left{
    width: 50%;
    text-align: center;
}