*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: hsl(125, 82%, 34%);
    font-family: "Poppins", sans-serif;
    color: white;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(34, 30, 238, 0.829);
    backdrop-filter: blur(10px);
}
   

nav img{
    margin: 20px 10px;
    width: 100px;
}

.links ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    font-size: large;
    font-weight: 500;
}
li{
    padding-right: 30px;
}
button{
    padding: 20px;
    border: none;
    border-radius: 12px;
    margin-right: 20px;
    background-color: rgb(221, 6, 6);
    color: inherit;
    font-size: 1.5em;
}

button:hover{
    cursor: pointer;
}

main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}

.right img{
    filter: drop-shadow(-20px 2px 9px rgb(248, 21, 21));
}

.left{
    width: 50%;
    padding-left: 5%;
}