* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Salsa", cursive;
}
.jhalar{
  width: 240px;
  margin-bottom: -80px;
}
.hero-sec {
  background-image: url(/projects/wishing/images/orange-backdrop\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.para-audi {
  margin-left: 15rem;
}

.hero-sec p {
  font-size: 46px;
  max-width: 600px;
}

audio::-webkit-media-controls-panel {
  background-color: #fbd8a4;
}

.audio-cont{
  margin-top: 50px;
  background-color: #fbd8a4;
  max-width: max-content;
  border-radius: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.hero-sec-two{
  background-color:#f99501 ;
  padding-top: 1em;
}
.lax-gan{
  max-width: 900px;
  width: 100%;
  display: block;
  margin-inline: auto;
  padding-inline: 1rem;
}

.hor-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 2rem;
}
.hor-div .circle{
  width: 10px;
  height: 10px;
  background: #fbd8a4;
  border-radius: 50%;
  flex-shrink: 0;
}
.hor-div .hor-line{
  background: #fbd8a4;
  height: 4px;
  width:468px ;
}
.hero-sec-two h2{
  font-family: "Style Script", cursive;
  font-size: 54px;
  font-weight: 400;
  text-align: center;
}

.whitecard-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.white-card{
  background-color: #fff;
  width: 500px;
  padding: 4rem;
  border-radius: 20px;
}

.white-card p{
  font-size: 2rem;
}

.girl{
  max-width: 250px;
  margin-left: -5rem;
}

.ganesha-card{
  background-color: #fff;
  border-radius:24px;
  padding: 4rem;
  max-width: 900px;
  display: flex;
  margin-inline: auto;

}

.ganesha-card img{
  width: 50%;
}

.thankyou{
  max-width: 900px;
  width: 100%;
  margin-inline: auto;
  margin-top: 2rem;
}

.thankyou h2{
  text-align: left;
}

.writer{
  text-align: right;
}

@media(max-width: 840px) {
  .first-d{
    display: block;
    margin-left: auto;
  }
  .para-audi{
    margin-left: 1rem;
  }
  .jhalar{
    margin-bottom: 0;
  }
  .audio-cont .lines,.second-d,span{
    display: none;
  }
  .hero-sec p{
    font-size: 32px;
  }
  .white-card{
    padding-block: 1rem;
    padding-left: 2rem;
  }
  .white-card p{
    font-size: 1.25rem;
  }
  .girl{
    width: 160px;
  }
  .ganesha-card{
    padding: 2rem;
  }
}

@media(max-width:540px){
  .first-d{
    width: 100%;
    max-width: 226px;
  }
  .hero-sec-two h2{
    font-size: 32px;
  }
  .white-card p{
    font-size: 1rem;
  }
  .writer{
    font-size: 0.5rem;
  }
  
}



