* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Salsa", cursive;
}
.jhalar{
  width: 240px;
  margin-bottom: -80px;
}
.hero-sec {
  min-height: 100vh;
  background-image: url(/projects/wishing/images/orange-backdrop\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.para-audi {
  margin-left: 15rem;
}

.hero-sec p {
  font-size: 46px;
  max-width: 400px;
}

audio::-webkit-media-controls-panel {
  background-color: #fbd8a4;
}

.audio-cont{
  margin-top: 50px;
  background-color: #fbd8a4;
  max-width: max-content;
  border-radius: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

@media(max-width: 840px) {
  .first-d{
    display: block;
    margin-left: auto;
  }
  .para-audi{
    margin-left: 1rem;
  }
  .jhalar{
    margin-bottom: 0;
  }
  .audio-cont .lines,.second-d,span{
    display: none;
  }
  .hero-sec p{
    font-size: 32px;
  }

}

@media(max-width:540px){
  .first-d{
    width: 100%;
    max-width: 226px;
  }
}

/* font-family: "Style Script", cursive; */
