body{
  background-color:hsl(0, 0%, 100%);
}
p{
  font-size: 1rem;
}
.first-img{
  width: 1250px;
  height: 500px;
  margin: 10px;
  border-radius: 4px;
  background-image: url(/projects/recipe/assets/image-omelette.jpeg);
  background-size:cover;
}
.time{
  border-radius: 10px;
  background-color: hsl(330, 100%, 98%);
}
.time h3{
  padding-left: 20px;
  padding-top: 10px;
}

h3{
  color: hsl(332, 51%, 32%);
}

h2{
  color: hsl(14, 45%, 36%);
}
